fastapi
uvicorn[standard]
python-multipart
duckduckgo-search
shazamio
python-dotenv
aiohttp
aiohttp
mutagen
shazamio
httpx
jinja2
motor
dnspython
yt-dlp
yt-dlp-ejs
quickjs
essentia
faiss-cpu
numpy
aioboto3
boto3
